<meta charset="UTF-8">
<title>Visualization</title>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<style>
   html, body { 
      background: linear-gradient(#dce0e2, #badbe7);
      min-height: 100%;
   }

   body {
      margin: 20px auto;
   }
</style>