<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        
    </head>

    <body class="container">

    <header>
        <h1>Visualization Tool</h1>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <%- include('../partials/body'); %>
        <h4>概要</h4>
        <p>部品の加工面を分析するためのデータ可視化ツールです。<br>
            適切なパラメータを指定することでカラーマップを出力することができます。</p>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    </body>
    <script type="text/javascript">

    </script>

</html>