<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        
    </head>

    <body class="container">

    <header>
        <h1>Visualization Tool</h1>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <%- include('../partials/body'); %>
        <h4>秋山怜穏</h4>
        <p>東京大学大学院工学系研究科精密工学専攻修士２年<br>梅田木下研究室</p>
        <p>email : akiyama@susdesign.t.u-tokyo.ac.jp</p>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    </body>
    <script type="text/javascript">

    </script>

</html>